<footer class="border-top p-4" style="margin-top: 1.5rem">
  <div class="row align-items-center g-5 no-margin" style="margin-top: 0">
    <div class="row col-12 col-lg-3 align-items-center justify-content-center my-4">
      <img src="./img/logo.svg" style="max-width: 10rem" class="d-block mx-sm-auto home-page-icon" alt="Logo"
           loading="lazy">
    </div>

    <div class="col-12 col-lg-9 row no-margin ">
      <div class="col-12 row no-margin align-items-center">
        <div class="d-flex text-center row col-12 col-md-7 justify-content-around">
          <div class="col-12 col-md-3">
            <a href="/"><h6 class="fw-bold text-primary">Inicio</h6></a>
          </div>
          <div class="col-12 col-md-6">
            <a href="/about-us.html"><h6 class="fw-bold text-primary ">Sobre Nosotros</h6></a>
            <p class="fw-light">¿Quiénes somos?</p>
            <p class="fw-light">¿Que hacemos?</p>
            <p class="fw-light">Nuestros Seniors</p>
          </div>
          <div class="col-12 col-md-3">
            <a href="/contact-us.html"><h6 class="fw-bold text-primary ">Contactanos</h6></a>
          </div>
        </div>
        <div class="d-flex border-top py-2 flex-wrap col-12 col-md-5 justify-content-center justify-content-lg-end">
          <div class="col-12">
            <p class=" fw-bold lh-1 mb-3 text-primary text-right">Siguenos en nuestas redes sociales</p>
          </div>
          <a href="https://www.facebook.com/programatrainit" class="icon-container col-3">
            <i class="display-6 bi bi-facebook text-primary"></i>
          </a>
          <a href="https://www.linkedin.com/company/trainitsistemas" class="icon-container col-3">
            <i class="bi bi-linkedin text-primary"></i>
          </a>
          <a href="https://www.youtube.com/@TrainitSistemas" class="icon-container col-3">
            <i class="bi bi-youtube text-primary" ></i>
          </a>
          <a href="https://www.instagram.com/trainitsistemas/" class="icon-container col-3">
            <i class="display-6 bi bi-instagram text-primary"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
