<meta charset="utf-8">
<title>TrainIT - Creamos oportunidades</title>
<meta name="description"
      content="TrainIT es una plataforma de prácticas profesionales gratuitas para distintas carreras, donde
            los integrantes ganan experiencia desarrollando proyectos reales, siendo asesorados por seniors del área">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://trainit.com.ar">
<meta property="og:title" content="TrainIt - Creamos oportunidades">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://trainit.com.ar/" />
<meta property="og:image" content="icon.svg">
<meta property="og:locale" content="es_AR">
<meta property="og:description" content="TrainIT es una plataforma de prácticas profesionales gratuitas para distintas carreras, donde
            los integrantes ganan experiencia desarrollando proyectos reales, siendo asesorados por seniors del área">

<link rel="shortcut icon" href="icon.svg">

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="scss/main.scss">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="scss/general.scss">

<meta name="theme-color" content="#fafafa">
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
  w[l] = w[l] || [];
  w[l].push({
    'gtm.start':
      new Date().getTime(), event: 'gtm.js'
  });
  var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
  j.async = true;
  j.src =
    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
  f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-M7JF4KL4');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->


