<div id="join-us" class="no-margin p-4 page-image-background-container">
  <div class="row align-items-center g-5 no-margin" style="margin-top: 0">
    <div class="row col-12 col-lg-5 align-items-center justify-content-center">
      <img src="img/home/icon-rocket.svg" class="d-block mx-lg-auto home-page-icon" alt="Bootstrap Themes"
           loading="lazy">
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">¿Te unis a nuestra comunidad?</h1>
    </div>
  </div>

</div>


