<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7JF4KL4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar shadow-md background-black fixed-top navbar-expand-lg navbar-dark bg-dark" style="width: 100vw"
     aria-label="Tenth navbar example">
  <div class="navbar-container container-fluid">
    <a class="navbar-brand" href="#">
      <img style="height: 3em;" src="./img/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us.html">Contáctanos</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
00
